<!-- Navbar Component -->
<header>
    <div class="container">
        <div class="header-content">
            <a href="/" class="logo">
                <div><img src="../assets/icons/logo.png" alt="RUMAGO Logo" width="50" height="50" /></div>
                <span class="text-3xl font-extrabold text-rumago-primary">RUMAGO</span><span class="text-3xl font-light text-rumago-secondary" style="color: #FBBF24;">.id</span>
            </a>
            <nav>
                <ul>
                    <li><a href="/" id="nav-home">Beranda</a></li>
                    <li><a href="search.html" id="nav-search">Cari Rumah</a></li>
                    <li><a href="#cara-beli">Cara Beli</a></li>
                    <li><a href="#syarat">Syarat & Ketentuan</a></li>
                    <li><a href="#bantuan">Bantuan</a></li>
                    <li><a href="#" id="cekNikBtn" class="cek-nik-menu">Cek Subsidi</a></li>
                </ul>
            </nav>
            <div class="auth-buttons">
                <button class="btn btn-outline">Masuk</button>
                <button class="btn btn-primary">Daftar</button>
            </div>
        </div>
    </div>
</header>